@font-face {
  font-family: 'MadeMirage'; /* Choose a name for your font */
  src: url('./fonts/MADE Mirage Medium PERSONAL USE.otf') format('opentype'); /* Adjust the path as needed */
}

.primaryFont {
  font-family: 'MadeMirage', sans-serif; /* Fallback to sans-serif */
}